*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-container {
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    background: #323432;

}
   
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    z-index: 2;
    padding: 0 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;

}
nav ul li a{
    color: #fff;

}
.logo {
    color: #fff

}
.navbar a:hover{
    color: #ff523b;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
/*Banner-Homepage*/
.offer {
    background: radial-gradient(#414141,#000);
}
.banner-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.banner {
    flex-basis: 50%;
    min-width: 300px;
}

.banner-container .banner-img {
    padding: 50px 0;
}
.banner-container .banner-img img{
    width: 100%;
}

.banner h5 {
    padding: 20px 0;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.banner h4 {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
    color: #fff;
}
.banner p{
    color: #ffffffdf;
    font-size: 23px;
    font-weight: 100;
} 
/*button-type*/
.btn {
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn-2 {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
.btn-3 {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}
.menu-icon { 
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*Feauture-Homepage*/
.feauture{
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feauture .feauture-container {
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
.feauture .feauture-container h6{
    font-size: 15px;
    display: inline-block;
    padding: 9px 8px 6px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddded;
}

.feauture .feauture-container img {
    width: 100%;
    margin-bottom: 10px;
}
/*FeautureProduct-HomePage*/
.title{ 
    text-align: center;
    position: relative;
    font-size: 30px;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.product1 , .product2{
    text-align: center;
    padding: 40px 80px;
}
.product2 .prod-container, .product1 .prod-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.product1 .product, .product2 .product{
    width: 24%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    margin: 15px 0;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    border-radius: 25px;
    transition: 0.2 ease;
}
.product1 .product:hover ,.product2 .product:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
.product1 .product img ,.product2 .product img{
    width: 100%;
    border-radius: 20px;
}

.product1 .product .des ,.product2 .product .des{
    text-align: start;
    padding: 10px 0;
}
.product1 .product .des span ,.product2 .product .des span{
    color: #606063;
    font-size: 14px;
}

.product1 .product .des h5, .product2 .product .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
}

.product1 .product .des h4 ,.product2 .product .des h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #088178;
}

/*Services-HomePage*/
.services {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background: radial-gradient(#414141,#000);
}

.services h4{
    color: #fff;
    font-size: 18px;
}
.services h3{
    padding: 10px 0;
    font-size: 50px;
    color: #fff;
}
.services h2{
    font-size: 25px;
    color: #fff;
    padding-bottom: 10px;
}
.services span{
    color: #e62a2a;
}

/*footer*/
.footer {
    display: flex;
    background-color: #fff;
    padding: 40px 80px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
.footer p{
    font-size: 12px;
    margin: 0 0 8px;
}
.footer a{
    font-size: 12px;
    text-decoration: none;
    color: #222;
    margin-bottom: 5px;
}
.small-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
/*Newsletter*/
.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: radial-gradient(#414141,#000);
    min-width: 100%;
    padding: 40px 80px;
    margin-top: 40px;
}

.newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid ;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.newsletter button{
    border: 1px solid ;
    cursor: pointer;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.newsletter .newsletter-form{
    display: flex;
    width: 30%;

}

.newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

/*Product-Page*/
.product-header{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background: radial-gradient(#414141,#000);
}

.pagination{
    text-align: center;   
}
.pagination a{
    text-decoration: none;
    background-color: #222;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
/*Contact-Page*/
.contact-header{
    background-image: url("images/about/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}
.contact-container .contact-details, .contact-form-container .contact-form-details{
    min-width: 100%;
    padding: 40px 80px;
}
.contact-details span,.contact-form-details span{
    font-size: 16px;
}
.contact-details h2,.contact-form-details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

.contact-details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
.contact-details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.contact-details li i {
    font-size: 14px;
    padding-right: 22px;
}

.contact-details li p {
    font-size: 14px;
    margin: 0;
}
.contact-form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form-details form textarea,.contact-form-details form input{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    flex-basis: auto;
    border: 1px solid #e1e1e1;
    margin-right: 20px;
    position: relative;
}

.contact-form-details .input-group{
    width: 100%; 
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.contact-form-details .input-group span{
    width: 20%;
    position: relative;
    right: 5px;
}

.contact-form-details form button{
    background-color: #ff523b;
    color: #fff;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    border: 1px solid #e1e1e1;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}
.account-page .popup{
    width: 400px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}
.open-popup{
    visibility: visible;
    top: 50%;

}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

/*Account-page*/

.account-page {
    padding: 50px 0;
    background: radial-gradient(#414141,#000);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    
}

.form-btn span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 50px;
    transition: transform 1s;

}

#LoginForm input ,#RegisterForm input {
    width: 250px;
    height: 30px;
    margin: 20px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

#LoginForm .btn,#RegisterForm .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

#LoginForm form .btn:focus {
    outline: none;
}
#LoginForm{
    left: -300px

}
#RegisterForm{
    left: 0
}

form a {
    font-size: 12px;

}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.input-group span {
    font-size: 14px;
    color: red;
    font-weight: bold;
}
.input-group .valid {
    font-size: 14px;
    color: #6fd649;
    font-weight: bold;
}
.input-group{
    margin: 0 ;
}

#register-error {
    font-size: 14px;
    color: red;
    font-weight: bold;
}
#login-error, #contact-error{
    font-size: 14px;
    color: red;
    font-weight: bold;
}

/*media@*/
@media (max-width: 477px) {
    /*Contact*/
    .contact-container .contact-details, .contact-form-container .contact-form-details{
        min-width: 100%;
        padding: 20px 20px;
    }
    .contact-form-details form{
        width: 100%;
    }
    /*newsletter*/
    .newsletter{
        padding: 20px 40px;
    }
    .newsletter .newsletter-form {
        width: 100%;
        padding-top: 10px;

    }
    .newsletter-form input {
        width: 70%;
    }
    .newsletter-form button{
        width: 30%;
    }
    .feauture{
        padding: 15px;
        justify-content: space-around;
    }
    .feauture .feauture-container{
        width: 155px;
        margin: 0 0 15px 0;
    }
    .product1 , .product2{
        padding: 40px 40px;
    }
    .product1 .product, .product2 .product{
        width: 100%;
    }
    .footer {
        padding: 20px;
    }
    .banner{
        margin-bottom: 10px;
    }
}

/*Navbar media@*/
@media only screen and (max-width: 800px) {
    nav ul{
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }   
}
@media only screen and (max-width: 768px) and (min-width: 499px){
    .services{
        height: 25vh;
    }
    .banner-container{
        margin-bottom: 10px;
        flex-wrap: nowrap;
    }
    
        
}